html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 80px; /* bottom = footer height */
}

footer {
left: 0;
bottom: 0;
height: 40px;
width: 80%;
margin-left:auto;
margin-right:auto;
background-color:#FF0BBB;
text-align:center;
}

#content {
width:80%;
min-height:600px;
background-color:#FFF8DC;
margin-left:auto;
margin-right:auto;
}

#translate {
margin-left: 40px;
}