@(quotes: List[Quote])
<!DOCTYPE html>
<html>
<head>
<title>Quotes</title>
<script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
<script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui.min.js"))'></script>
<script src='@routes.Assets.at("sortable.js")'></script>
<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
<link rel='stylesheet' href='@routes.Assets.at("stylesheets/main.css")'>
</head>
<body>

<div class="container">
     <div id="content">
     <div id="quotes">
         <h1>Quotes</h1>

  <ul>
    @for(quote <- quotes) {
      <li>@quote.english | @quote.dothraki</li>
    }
  </ul>
     </div>
         <div id="translate">
         <form method="post" name="translate" action="/translate">
             <input type="text" name="word" placeholder="to translate">
             <input type="submit" name="translate" value="translate">
         </form>
             <ul id="translations">
                 <li>meaning 1</li>
                 <li>meaning 2</li>
                 <li>...</li>
             </ul>
         </div>
     </div>

</div>

</body>
</html>
